<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_01.png" alt="">
                    </div>
                    <h4>Calculadora de Promedios</h4>
                    <div class="line-dec"></div>
                    <p>Esta herramienta te permitirá calcular el promedio de tus materias de una forma fácil y rápida. Cuenta con instrucciones y alertas
                        de error (en caso de que sean necesarias) para guiarte y que puedas obtener tu promedio 100% acertado... ¡Sin errores! Todo esto
                        al instante y sin tiempos de carga eternos.<br><br><br>
                    </p>
                    <div class="primary-blue-button">
                        <button (click)="navegarCalcuprom()" >Ir</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_02.png" alt="">
                    </div>
                    <h4>Calculadora Predictiva de Promedios</h4>
                    <div class="line-dec"></div>
                    <p>¿Aún no conoces todas tus calificaciones pero quieres tener una idea de lo que deberías sacar en actividades / exámenes para poder pasar?
                        ¡Esto es lo que necesitas! Establece un objetivo de calificación y esta calculadora te dirá cuántos puntos te faltan, si ya lo alcanzaste,
                        o si ya no es posible alcanzar el objetivo establecido.
                    </p>
                    <div class="primary-blue-button">
                        <button (click)="navegarCalcupred()" >Ir</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_03.png" alt="">
                    </div>
                    <h4>Encuentra tu salón</h4>
                    <div class="line-dec"></div>
                    <p>Herramienta en desarrollo. Consiste en introducir el salón al que desees consultar, este asistente te dirá todos los datos del edificio
                        (tales como ubicación, piso, número de aula, accesos, y demás datos relevantes) acompañados de imágenes en alta definición que te 
                        servirán como referencias para llegar a dicho salón.<br><br>
                    </p>
                    <div class="primary-blue-button">
                        <button (click)="encontrarSalon()" >Ir</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_04.png" alt="">
                    </div>
                    <h4>Próximamente</h4>
                    <div class="line-dec"></div>
                    <p>Pronto estaremos agregando nuevas funcionalidades al sitio :D</p><br><br><br><br><br><br><br><br><br>
                    <div class="primary-blue-button">
                        <button (click)="olaDemonio()" >Ir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--h1>Aquí pues vamos a poner un listado que se enlace a cada una de las funcionalidades, ejemplo:<br><br><br>

    <button (click)="navegarCalcuprom()">Calculadora de Promedios</button><br>
    <button (click)="navegarCalcupred()">Calculadora Predictiva</button><br>
    <button (click)="encontrarSalon()">Encuentra tu salon</button><br>
    <button (click)="goHome()">Regresar</button><br>
    ... <br>
    ..<br>
    .<br>
</h1-->
