<h1>Acá va lo de encuentra tu salón xdxd</h1>

<div class="Promedios">
<input type="number" class="form-control" id="num1" style="float:right" [(ngModel)]="num1" placeholder="Ingresa el primer numero de tu salon">
<input type="number" class="form-control" id="num2" style="float:right" [(ngModel)]="num2" placeholder="Ingresa el segundo numero de tu salon">
<input type="number" class="form-control" id="num3" style="float:right" [(ngModel)]="num3" placeholder="Ingresa el tercer numero de tu salon">
<input type="number" class="form-control" id="num4" style="float:right" [(ngModel)]="num4" placeholder="Ingresa el cuarto numero de tu salon">
</div>
<div class="boton">
    <button class="btn btn-primary" (click)="Operacion()">Interpreta tu salon!</button>
    <br>
    <br>
    <h5>Ingresaste el salon {{salon}}</h5>
    <h5>tu edificio es el {{sal}}</h5>
    <h5>El piso en el que se encuentra tu salon es el {{sal2}}</h5>
    <h5>Tu numero de salon es {{ sal3 }}</h5>
    <br></div><br><br><br><br><br><br><br><br><br><br><br><br>

<h1 align="center">Encuentra tu salon!</h1>
<nav id="menu">
    <ul>
      <li><a href="assets/img/edificio1.jpg"> Edificio 1</a></li>
        <li><a href="assets/img/Edificio2.jpg">Edificio 2</a>
        <ul>
          <li><a href="#">Piso 1</a></li>
          <li><a href="#">Piso 2</a></li>
          <li><a href="#">Piso 3</a></li>
        </ul>
      </li>
      <li><a href="assets/img/edificio-3.jpg">Edificio 3</a></li>
      <li><a href="assets/img/snack.jpg">Snack</a></li>
      <li><a href="assets/img/escolar.png">Escolar</a></li>
      <li><a href="assets/img/cidet-fime.jpg">Cidet</a></li>
    </ul>
    </nav>
    <br><br><br>
    <h2>Importante!</h2>
    <h6>De momento no esta completo este apartado ya que al estar confinados no podemos asistir
        personalmente a la facultad a tomar fotografias, pero creemos que con lo agregado se da 
        a entender la idea general
    </h6>
