.Promedios {
    font: 115% Arial, Helvetica, sans-serif;
    max-width: 700px;
    padding: 16px;
    margin: 0px 0px 0px 120px;
    background: #f7f7f9;
    float: left;
}

.Promedios input[type="number"] {
    transition: all 0,30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    width: 15%;
    background: #fff;
    margin-bottom: 1%;
    border: 3px solid #ccc;
    padding: 1%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.Promedios input[type="number"] form-control{
    background: blue;
}

.Promedios p{
    background:#f7f7f9;
}

.Promedios2{
    font: 115% Arial, Helvetica, sans-serif;
    max-width: 700px;
    padding: 16px;
    margin: 0px 0px 0px 0px;
    background: #f7f7f9;
    float: right;
    margin-right: 20%;
}

.Promedios2 input[type="number"] {
    transition: all 0,30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    width: 15%;
    background: #fff;
    margin-bottom: 1%;
    border: 3px solid #ccc;
    padding: 1%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.Promedios2 input[type="number"] form-control{
    background: blue;
}

.Promedios2 p{
    background:#f7f7f9;
}

.boton{
    margin: 0px 0px 0px 300px;
}

/* Esto es para ocultar las flechitas de incremento/decremento en los inputs */
.Promedios input[type=number]::-webkit-inner-spin-button,
.Promedios input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
.Promedios input[type=number] { -moz-appearance:textfield; }

/* Esto es para ocultar las flechitas de incremento/decremento en los inputs el 2do */
.Promedios2 input[type=number]::-webkit-inner-spin-button,
.Promedios2 input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
.Promedios2 input[type=number] { -moz-appearance:textfield; }

.Instrucciones p{
    background-color: rgba(29, 112, 168, 0.76);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
    margin: 0px 0px 0px 40px;
    width: 95%;
    text-align: justify;
    height: 300px;
}

.Instrucciones h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    color: red;
}


.Instrucciones span{
    font: lighter;
    color: crimson;
    background-color: yellow;
}

.Instrucciones button{
    background-color: rgb(139, 0, 0);
    color: white;
    padding: 1px;
    border: black;
    cursor: pointer;
    text-decoration: none;
    border-radius: 12px;
    width: 11%;
}

.Instrucciones button:hover{
    background-color: rgb(95, 8, 8);
}   


.Promedios h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    text-align: center;
}

.Promedios span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-align: center;
}

.Promedios2 h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    text-align: center;
}

.Promedios2 span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-align: center;
}

.Resultados p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-align: center;
    color: black;
}

.Resultados h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    text-align: center;
}

body {
    background-image: url("../../assets/img/fondotecem.jpg");
    background-color: #cccccc;
   }

.textooo{
    color: white;
}