<body>
<div class="header">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand scroll-top"><em>AV</em>UANL</a>
            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/home" onclick="goHome()">Inicio</a></li>
                    <li><a href="#" class="scroll-link" data-id="about">Acerca de nosotros</a></li>
                    <li><a href="/herramientas" onclick="navegarTools()">Herramientas</a></li>
                    <li><a href="#" class="scroll-link" data-id="blog">Contacto</a></li>
                    <li><a href="https://angular.io/docs">Angular</a></li>
                </ul>
                <br>
                <br>
                <h1>Asistente Virtual Universitario</h1>
                <h2>Facultad de Ingeniería Mecánica Eléctrica UANL</h2>
            </div>
            <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container--> 
</div>
<!--/.header--> 


<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
            <br><br><br><br>
            <p>AVUANL (Asistente Virtual Universitario UANL) es una herramienta para los estudiantes de la Universidad Autónoma de Nuevo León, que tiene como finalidad
            facilitar tareas cotidianas, resolver problemas al instante, y asistir al alumno durante sus semestre, todo esto proporcionado por una interfaz
            de usuario intuitiva y agradable :)
            </p>
            <div class="primary-white-button">
                <a href="/herramientas">Más</a>
            </div>
        </div>
    </div>
</div>
</body>